.section {
    background-color: #495E57;
    padding-bottom: 1%; 
    padding-top: 1%;
}
.review {
    margin: 8%;
    font-family: 'Karla', serif;
    color: #f4ce14;
}

.review-title {
    font-size: 40px;
    font-weight: 600;
}
.reviews-display{
    display: flex;
    flex-direction: row ;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px 20px;
}

.wrapper {
    width: auto;
}
.reviews-display>* {
    flex: 1 1 160px;
}

.r-card-image img {
    height: 200px;
    width: auto;
    border-radius: 50%;
}

.r-card{
    width: 25%;
    border-radius: 10%;
    background-color: #FFFFFF;
    color: #495E57;
    border: 0.5px solid rgb(227, 227, 227);
    height: 350px;
    max-width: 375px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.r-card-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.r-card-desc {
    font-size: 18px;
    font-weight: 300;
    margin-top: 10%;
    line-height: 1.2;
    text-align: center;
}
